* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONTS*/
.sacramento {
    font-family: 'Sacramento', cursive;
}

.josefin {
    font-family: 'Josefin Slab', serif;
}


/*BODY/BACKGROUND*/
body {
    background-image: url("../img/redBlackBG.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

/*HEADER*/
#header {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

/*scoreholder*/

#scoreHolder {
    width: 100%;
    height: 40px;
    /*opacity: 0;*/
    margin-bottom: 60px!important;

}

#scoreHolder ul {
    display: flex;
    width: 100%;
    /*opacity: 1;*/
    list-style-type: none;
    justify-content: space-evenly;

}

hr {
    border: 2px solid darkred;
    border-radius: 4px;
    width: 50%;
    margin: auto;
}

#team1Score, #team2Score, #centerHolderDiv {
    background-color: white;
    width: 200px;
    height: 80px;
    border: 6px solid darkred;
    border-radius: 15px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    line-height: 80px;
}

#centerHolderDiv {
    width: 300px;
}

/*GLOW EFFECTS*/
/*RED*/
.glowRed {
    color: #fff;
    -webkit-animation: glowRed 1s ease-in-out infinite alternate;
    -moz-animation: glowRed 1s ease-in-out infinite alternate;
    animation: glowRed 1s ease-in-out infinite alternate;
    opacity: 1 !important;
}

@-webkit-keyframes glowRed {
    from {
        text-shadow: 4px 4px 5px red, 0 0 10px orangered, 0 0 15px darkred, 0 0 20px red, 0 0 25px orangered, 0 0 30px orangered, 0 0 40px red;
    }
    to {
        text-shadow: 0 0 10px red, 0 0 15px orangered, 0 0 20px darkred, 0 0 25px red, 0 0 30px orange, 0 0 35px orangered, 0 0 40px red;
    }
}

/*BLUE*/
.glowBlue {
    color: #fff;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    opacity: 1 !important;
}

@-webkit-keyframes glowBlue {
    from {
        text-shadow: 4px 4px 5px blue, 0 0 10px deepskyblue, 0 0 15px lightblue, 0 0 20px dodgerblue, 0 0 25px blue, 0 0 30px deepskyblue, 0 0 40px dodgerblue;
    }
    to {
        text-shadow: 0 0 10px dodgerblue, 0 0 15px blue, 0 0 20px deepskyblue, 0 0 25px lightblue, 0 0 30px blue, 0 0 35px dodgerblue, 0 0 40px deepskyblue;
    }
}

/*GREEN*/
.glowGreen {
    color: #fff;
    -webkit-animation: glowGreen 1s ease-in-out infinite alternate;
    -moz-animation: glowGreen 1s ease-in-out infinite alternate;
    animation: glowGreen 1s ease-in-out infinite alternate;
    opacity: 1 !important;
}

@-webkit-keyframes glowGreen {
    from {
        text-shadow: 4px 4px 5px green, 0 0 10px limegreen, 0 0 15px lime, 0 0 20px lawngreen, 0 0 25px forestgreen, 0 0 30px green, 0 0 40px lime;
    }
    to {
        text-shadow: 0 0 10px lime, 0 0 15px green, 0 0 20px forestgreen, 0 0 25px lawngreen, 0 0 30px green, 0 0 35px limegreen, 0 0 40px green;
    }
}

/*GREY*/
.glowGrey {
    color: #fff;
    -webkit-animation: glowGrey 1s ease-in-out infinite alternate;
    -moz-animation: glowGrey 1s ease-in-out infinite alternate;
    animation: glowGrey 1s ease-in-out infinite alternate;
    opacity: 1 !important;
}

@-webkit-keyframes glowGrey {
    from {
        text-shadow: 4px 4px 5px grey, 0 0 10px grey, 0 0 15px dimgrey, 0 0 20px dimgrey, 0 0 25px snow, 0 0 30px black, 0 0 40px dimgrey;
    }
    to {
        text-shadow: 0 0 10px black, 0 0 15px snow, 0 0 20px black, 0 0 25px black, 0 0 30px slategray, 0 0 35px black, 0 0 40px dimgrey;
    }
}

/*question button styling*/
.question-card {
    height: 60px;
    line-height: 60px;
    width: 100px;
    /*background-color: darkred;*/
    opacity: .9;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/*.question-card:visited {*/
/*    background-color: black;*/
/*    color: gray;*/

/*}*/


.question-card:hover {
    color: darkred;
    background-color: white;
}



#questionButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    /*height: 100%;*/
    margin: auto;

}

.question-row{
    display: flex;
    justify-content: space-between;
}

/*MODAL STYLING*/

.modal {
    /*background-color: darkred;*/
    /*border: 5px solid white;*/
    color: lightgray;
}

.modal-body {
    background-color: darkred;
}

.modal-content {
    background-color: darkred;
    font-size: 1.5rem;
    border: 5px solid white;

}

.question-buttons {

}

#countdownHolder {
    margin-left:90%!important;
    color: white;
    font-size: 5em;
}


.red {
    background-color: darkred!important;
}

.green {
    background-color: lawngreen!important;
}

.blue {
    background-color: darkblue!important;
}

